# # Client-side (safe)
# NEXT_PUBLIC_SUPABASE_URL=https://iwjfqgwmjdflyiagrqzs.supabase.co
# NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml3amZxZ3dtamRmbHlpYWdycXpzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjEwNTYxNjMsImV4cCI6MjA3NjYzMjE2M30.czGJE3_maDPuOG2sTIrBQWNyO3A4wYBWCfak7Jt4-wM
# SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml3amZxZ3dtamRmbHlpYWdycXpzIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MTA1NjE2MywiZXhwIjoyMDc2NjMyMTYzfQ.Q0Q0CxYbFizOGD5IMEYsTmPj0bA5S78c_P9ofYNRIGY
# QWEN_API_URL=https://dashscope-intl.aliyuncs.com/compatible-mode/v1/chat/completions
# QWEN_API_KEY=sk-5d37b90cb8bd4d5ea40ac611a11dccae
# QWEN_MODEL=qwen-plus
# DATAFORSEO_EMAIL=musaf@tech-021.com
# DATAFORSEO_PASSWORD=Musaf121321
# DATAFORSEO_API_LOGIN=natia@space-leads.com
# DATAFORSEO_API_PASSWORD=e1ee084a30ea79a0
